{{ define "title" }}SignIn{{ end }}

{{ define "content" }}
    {{ .Session }}
    <h1>Sign In</h1>
    <form method="post" action="/login">
      Username:<br /><input type="text" name="username" size="30" /><br />
      Password:<br /><input type="password" name="password" size="30" /><br />
      <br />
      <input type="submit" value="SignIn" name="s"/>
    </form>
{{ end }}
