body {
    font-family:arial;
    font-size:12px;
}

div.container {
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    font-size:160%;
    color:#333;
}

h1 sup {
    font-size: 0.5em;
}

h1 sup.error_500, h1 sup.error_400 {
    color:#990E05;
}
h1 sup.error_100, h1 sup.error_200 {
    color:#00BF10;
}

h1 sup.error_300 {
    /* pretty sure you cant 'see' status 300 
       errors but if you could I think they 
       would be blue */
    color:#1B2099;
}

h2, h3 {
    cursor: pointer;
    color: #006;
    text-decoration: underline;
}

a, a:visited {
    color:#00BF10;
}

ul.error {
    list-style-type: none;
    font-size: 120%
}

ul.error li:before {
    content: "\21d2";
}

ul.error li:first-child:before {
    content: "";
}

ul.error li:first-child {
    font-weight:bold;
}


.indent1 {
    padding-left: 1em;
}

.indent2 {
    padding-left: 2em;
}

.indent3 {
    padding-left: 3em;
}

.indent4 {
    padding-left: 4em;
}


dl.backtrace {
    font-size: 110%
    font-family:courier, monospace;
    letter-spacing:-1px;
}

dl.backtrace dt.application,
dl.backtrace dd.application {
    color: #b00;
}

dl.backtrace dd {
    border-top:2px solid #fff;
    background-color:#F3F3F3;
}
  
.footer {
    margin-top:5px;
    font-size:11px;
    color:#444;
    text-align:right;
}
