<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }} - Movico Blog</title>
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <link rel="SHORTCUT ICON" href="/img/favicon.ico" />
    {{ template "assets" }}
    {{ require_js "lib/jquery.min" }}
    {{ require_js "lib/bootstrap" }}
    {{ require_css "lib/bootstrap" }}
    {{ require_css "application" }}
    {{ include_required_css }}
    {{ include_required_js }}
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          Movico's Blog
        </div>
        <section id="content">
          {{ template "content" . }}
        </section>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        Movico (c) Blog Example <a href="/">Home</a>
      </div>
    </div>
  </body>
</html>

{{ define "assets" }}
{{ end }}
