<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ template "title" . }} - Movico Blog</title>
  </head>
  <body>
    <section id="content">
      {{ template "content" . }}
    </section>

    <footer id="footer">
      Movico (c) Blog Example
    </footer>
  </body>
</html>
