<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <link rel="SHORTCUT ICON" href="/img/favicon.ico" />
    {{ css_link_tag "error" }}
  </head>

<body>
  <div class="container">
    <h1>Internal Server Error</h1>
    <div class="error">{{ format_error .error }}</div>

    <h3>Params</h3>
    <ul>
      {{ range $key, $value := .Params }}
      <li><span class="key">{{ $key }}:</span> {{ $value }}</li>
      {{ end }}
    </ul>
    <h3>Session</h3>
    <ul>
      {{ range $key, $value := .Session }}
      <li><span class="key">{{ $key }}:</span> {{ $value }}</li>
      {{ end }}
    </ul>   
    <h3>Backtrace</h3>
    {{ .backtrace }}
  </div>
  <div class="footer">
    Movico 
  </div>
<!--
  <script type="text/javascript">
      function toggle(event, klass) {
         var elem = document.getElementsByClassName(klass);
         for(var i=0; i<elem.length; i++) {
            var e = elem[i];                                     
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
         }
         event.stopPropagation();
      }                                      
 </script>
-->
</body>

