<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <link rel="SHORTCUT ICON" href="/img/favicon.ico" />
    {{ css_link_tag "error" }}
  </head>

<body>
  <div class="container">
    <h1>404 Not Found</h1>
    <div class="error">{{ format_error .error }}</div>
  </div>
  <div id="footer">
    <div class="container">
      Movico (c) Blog Example <a href="/">Home</a>
    </div>
  </div>
</body>


